<div class="myContainer col-12">
   <div style="height:50%;width:50%; background-color: white; border-radius: 10px; border: 2px solid black; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 5%;;" *ngIf="status">
        <h3>Notification Message</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam viverra tortor a magna ultrices vehicula. Sed vitae tincidunt eros, sodales rutrum augue. Praesent dignissim ex odio, eget feugiat ipsum mattis quis. Etiam vel pellentesque ligula. Sed quis elementum odio, in imperdiet quam. Ut eget suscipit velit. Vivamus malesuada augue ut pretium ultricies. Vivamus in risus vel ipsum pharetra fringilla at et eros. Ut id egestas nibh.</h4>
    </div>
</div>