<div class="myContainer col-12">


  <div
    style="
      height: 50%;
      width: 50%;
      border-radius: 10px;
      border: 2px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5%; ;
    "
    *ngIf="status"
    [ngStyle] = "{'background-color': danger ? 'red' : 'white' }"
  >
    <h3>{{title}}</h3>
    <h4>
      
    </h4>
  </div>

  <div
    style="
      height: 50%;
      width: 50%;
      border-radius: 10px;
      border: 2px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5%; ;
    "
    *ngIf="yellow_status"
    [ngStyle] = "{'background-color': yellow_status ? 'yellow' : 'white' }"
  >
    <h3>Reminder</h3>
    <h4>
      {{yellow_description}}
    </h4>
  </div>
</div>
