.myStyle{
    height: 100%; 
    margin:0%;
    padding: 0%;
}
.leftCont{
    width:50%; 
    background-color: #5356B6; 
    border-radius: 9px 0px 0px 9px; 
    display: flex; 
    align-items: center;     
    justify-content: center; 
    border-top-right-radius: 65px; 
    color:white;
}