<div  class="myHeader" >{{patient.name}} {{patient.surname}}</div>
<!-- 21:9 aspect ratio -->
<div class="embed-responsive embed-responsive-1by1 video-container "  >
    <iframe class="embed-responsive-item video-fluid"[src]="urlSafe" ></iframe>
</div>
<div class="d-none d-lg-block d-xl-block">
    <div class="row monitorStyle" >
        <div>
          <app-monitor-display-phone [typeMon] = "'Vital Status'"></app-monitor-display-phone>
        </div>
        <div>
            <app-monitor-display-phone [typeMon] = "'Location'"></app-monitor-display-phone>
          </div>
    </div>
</div>
<div class="d-none d-md-block d-lg-none">

        <div>
          <app-monitor-display-phone [typeMon] = "'Vital Status'"></app-monitor-display-phone>
        </div>
        <div>
            <app-monitor-display-phone [typeMon] = "'Location'"></app-monitor-display-phone>
          </div>

</div>

<button type="button" class="btn btn-primary mybtn" (click)="navigateToPatient()">View patient information</button>

