@media only screen and (max-device-width: 600px) {
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }
    

    .top_bar{
        overflow-y: hidden;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top:0;
        background-color: #3337a0;
        color:white;
        align-items: center; 
        justify-content: center; 
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        width:100%;
        height:50px;
    }
    
}