@media only screen and (max-device-width: 600px) {
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }
    
    /* Top Bar with elder Name */
    .top_bar{
        top: 0;
        overflow-y: hidden;
        position: fixed;
        height: 70px;
        background-color: #5356b6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #elder_name {
        color:black;
        background-color: #e8d2ef;
        top:20px;
        font-size:18px;
        width:60%;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px #999;
      }


    /* Vital Status and location divs */
    .location,.vital_status{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height:70px;
        color:white;
        background-color: #5356b6;
        text-align: center;
        font-size: 17px;
        width:80%;
        border: 0px solid black;
        border-radius: 10px;
    }

    .title_information_div{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 85%;
    }

    #title_information{
        height: 30px;
        border-radius: 10px;
        background-color: #e8d2ef;
        color:black;
        font-size: 17px;
        text-align:center;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px #999;
        width:80%;
    }

    #title_information_in_expand{
        height: 30px;
        border-radius: 10px;
        background-color: #5356B6;
        color:white;
        font-size: 17px;
        text-align:center;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px #999;
        width:85%;
    }

    #title_information_in_expand:hover{
        background-color: #8215a3;
    }

    .expand_detailed_information{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        text-align: center;
        border: 1px solid #5356B6;
        border-radius: 10px;
        width:80%;
    }

    .buttons_detailed_information{
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #e8d2ef;
        border: 1px solid #5356B6;
        border-radius: 10px;
        font-size:18px;
        width:80%;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px #999;
    }


    .detailed_vitals{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-color: #bcbff5;
        text-align: center;
        border: 1px solid #5356B6;
        border-radius: 10px;
        width:80%;
    }

    .sub_box{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        text-align: left;
        border: 1px solid #5356B6;
        border-radius: 10px;
        width:90%;
    }


    .detailed_vitals_left_side{
        width: 50%;
        text-align: center;
        color: black;
        margin-top: -5%;
    }

    #title_medication_in_expand{
        height: 30px;
        border-radius: 10px;
        background-color: #5356B6;
        color:white;
        font-size: 17px;
        text-align:center;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px #999;
        width:100%;
    }


    #event_desc{
        margin-top:5px;
        margin-left:10px;
    }

    
    /* Events div with boxes */

    .events_list{
        background-color: white;
        border: 2px solid #5356B6;
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        width:80%;
        margin-left:10%;
        margin-right:10%;
        overflow-y: auto;
    }
    
    #title_routine{
        border-bottom:solid rgb(1, 1, 1) 2px;
        background-color: #5356B6;
        border-radius: 5px;
        color:white;
        font-size: 17px;
        text-align:center;
        height:2.3rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }


    #completed_events{
        background-color: #5356B6;
        color:white;
        text-align: center;
        width:100%;
        height:40px;
        margin-top:-1px;
        font-size:18px;
    }
      

    .event_box{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 100px;
        border: 2px solid #5356B6;
        border-radius: 15px;
        background-color: #DFE0F2;
    }

    .title_of_event{
        height:30px;
        background-color: #5356B6;
        border-radius: 10px;
        color:white;
        font-size: 18px;
    }

    #event_name{
        position: relative;
        margin-left:15px;
    }

    #event_checkbox{
        float:right;
        margin-top: 5px;
        margin-right: 15px;
        width:22px;
        height:22px;
    }

    #event_time{
        margin-top:10px;
        margin-left:20px;
    }

    #event_help{
        margin-top:0px;
        margin-left:20px;
        float:left;
    }

    
	.navbar{
        width:100%;
        bottom: 0;
        overflow-y: hidden;
        position: fixed;
        display: block;
        background-color: #5356B6;
    }

    #navbar-menu{
        background-color: #ffffff;
        width: 100%;
        height: 4rem;
        border: 2px solid #5356B6;
        padding: 8px;
    }

    .notifactions_top_bar{
        top: 0;
        position: fixed;
        height: 70px;
        width:100%;
        background-color: #5356B6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 20px;
        color:white;
    }

    #exit_from_notifications{
        background-color: white;
        color:black;
        float: left;
        width:33px;
        height:33px;
        border: 1px solid black;
        border-radius: 50px;
    }

    .notifications_list{
        position: absolute;
        top:100px;
        background-color: white;
    }

    #elder_picture{
        width:35px;
        height:35px;
        border-radius: 50px;
        display: inline;

    }

    #notification_from{
        text-align: center;
        display: inline;
        font-size: 18px;
        font-weight: bold;
    }

    #type_of_notification,#notification_time{
        text-align: center;
        display: inline-block;
        font-size: 19px;
        padding: 5px;
    }


    #New_notification{
        margin-left: 10px;
        width:80%;
        height:auto;
    }


    /* New messages css */

    .messages_top_bar{
        top: 0;
        overflow-y: hidden;
        position: fixed;
        height: 70px;
        width:100%;
        background-color: #5356b6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 20px;
        color:white;
    }

    #exit_from_messages{
        background-color: white;
        color:black;
        float: left;
        width:33px;
        height:33px;
        border: 1px solid black;
        border-radius: 50px;
    }


    .Messages_list{
        position: absolute;
        top:80px;
        background-color: white;
        height:800px;

    }

    .New_Message{
        height:auto;
        width: 80%;
        top:10px;
        background-color: #e8d2ef;
        border-radius: 10px;
        float: left;
        margin-left:30px;
    }

    #elder_picture,#message_from,#message_time{
        display: inline;
        font-size: 19px;
        padding: 5px;
        font-weight: bold;
    }

    #message_content{
        text-align: center;
        display: inline-block;
        font-size: 19px;
        padding: 3px;
    }

    #write_message{
        display: inline-block;
        font-size: 19px;
        position:absolute;
        bottom:60px;
        width:80%;
        height:35px;
        left:0;
        border:1px solid black;
    }


    #send_message_btn{
        display: inline-block;
        position: absolute;
        font-size: 19px;
        bottom:60px;
        width:20%;
        height:35px;
        right:0;
        border:2px solid black;
        background-color: #5356B6;
        color:white;
        font-weight: bold;
    }


    .incoming_call{
        position:fixed;
        overflow-y: hidden;
        position: absolute;
        width:100%;
        top:75px;
        height:830px;
        background-color: black;
        opacity: 100%;
    }

    #type_of_call{
        position:relative;
        top:70px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color:white;
    }

    #elder_call_picture{
        position:relative;
        top:70px;
        margin-left: 35%;
        margin-right: 35%;
        text-align: center;
        width:100px;
        height:100px;
        border-radius: 50%;
    }

    #call_from{
        position:relative;
        top:120px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color:white;
    }

    #answer_call_btn{
        position: relative;
        top:150px;
        text-align: center;
        display: inline-block;
        background-color: rgb(33, 162, 33);
        font-size: 20px;
        font-weight: bold;
        width:120px;
        height:35px;
        border-radius: 10px;
    }

    #decline_call_btn{
        position: relative;
        top:150px;
        margin-left:18%;
        text-align: center;
        display: inline-block;
        background-color: rgb(248, 27, 27);
        font-size: 20px;
        font-weight: bold;
        width:120px;
        height:35px;
        border-radius: 10px;
    }

    .live_video_call{
        position: absolute;
        width:100%;
        top:75px;
        height:830px;
        opacity: 100%;
    }

    #live_call_elder{
        position: absolute;
        top:70px;
        width:100%;
        height:800px;
        opacity: 100%;
        overflow-y: hidden;
        position: fixed;
    }

    #done_call_btn{
        margin-left:45%;
        text-align: center;
        top:740px;
        display: inline-block;
        background-color: rgb(248, 27, 27);
        font-size: 20px;
        font-weight: bold;
        width:60px;
        height:60px;
        border-radius: 50%;
        overflow-y: hidden;
        position: fixed;
        border:2px solid black;
    }

    #live_call_caretaker{
        top:555px;
        display: inline-block;
        left:0;
        width:170px;
        height:285px;
        opacity: 100%;
        overflow-y: hidden;
        position: fixed;
        border:2px solid black;
    }

    #new_alert_medium{
        position: absolute;
        background-color: #eda450;
        top:180px;
    }

    #alert_type{
        background-color: white;
        color:black;
        border: 2px solid black;
        border-radius: 10px;
        font-size:25px;
        text-align: center;
    }

    #new_alert_high{
        animation: blinker 2s infinite;
        position: absolute;
        background-color: #ff0000;
        top:180px;
    }

    .emergency_contacts{
        position: absolute;
        margin:0;
        padding: 0;
        width:100%;
        height:300px;
        top:300px;
        background-color:#bcbff5;
        border: 3px solid black;
    }

    #title_for_emergency{
        background-color: #8215a3;
        color: white;
        font-size: 20px;
        width:100%;
        height:50px;
    }

    #emergency_numbers_title{
        position:absolute;
        vertical-align: middle;
        display: inline-block;
        top:10px;
        margin-left:30%;
    }

    #emergency_numbers_exit{
        position:absolute;
        background-color: #ececec;
        color: rgb(0, 0, 0);
        font-size: 20px;
        border-radius: 50%;
        width:30px;
        height:30px;
        margin-left:90%;
        top:10px;
    }

    #alert_doctor,#call_ambulance,#call_childs{
        position: absolute;
        background-color: #e8d2ef;
        border:2px solid #5356B6;
        border-radius: 10px;
        font-size:20px;
        text-align:center;
        margin-left: 30%;
        width:170px;   
    }

   
    @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      

    .User_Icon{
        float:right;
        margin-top: 5px;
        margin-right: 15px;
        width:22px;
        height:22px;
    }

    .message_icon{
        height:35px;
        width:35px;
        background-color: white;
    }

    .notifi{
        position: relative;
    }

    .notification_icon{
        background-color: white;
        height:35px;
        width:35px;
        display: inline;
    }

    #missed_notifications{
        position:absolute;
        margin-top:0px;
        margin:-5px;
        background-color: red;
        color:white;
        border-radius: 50%;
        border: 1px solid black;
        width:25px;
        height:25px;
        font-size:15px;
    }

    .alert_icon{
        background-color: white;
        height:35px;
        width:35px;
    }

    .video-icon{
        background-color: white;
        height:35px;
        width:35px;
    }


    .edit_buttons{
        width:100%;
        display: flex;
        margin-top:5px;
    }

    .add_event_btn{
        width:50%;
        float:left;
        display: block;
        font-size: 18px;
        background-color: #e8d2ef;
        color:black;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px #999;
    }

    .edit_event_btn{
        width:50%;
        float:right;
        display: block;
        font-size: 18px;
        background-color: #e8d2ef;
        color:black;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px #999;
    }


}
