<div  class="myHeader" >{{patient.name}} {{patient.surname}}</div>
<!-- 21:9 aspect ratio -->
<div class="embed-responsive embed-responsive-1by1 video-container "  >
    <iframe class="embed-responsive-item video-fluid"[src]="urlSafe" ></iframe>
</div>
<div class="d-none d-lg-block d-xl-block " style="height: 12%; margin: 2% 2.5% 2% 2.5% !important;">
    <div class="row monitorStyle" >
        <div style="width: 47.5%; margin-right:2.5%; height:100%;  padding:0%; border-radius: 0px;">
          <app-monitor-display [typeMon] = "'Vital Status'"></app-monitor-display>
        </div>
        <div style="width: 47.5%; margin-left:2.5%; height:100%;  padding:0%; border-radius: 0px;">
            <app-monitor-display [typeMon] = "'Location'"></app-monitor-display>
          </div>
    </div>
</div>
<div class="d-none d-md-block d-lg-none" style="height: 20%; margin: 2% 2.5% 2% 2.5%;">

        <div style="width: 100%; margin-bottom:2.5%; height:47.5%;  padding:0%; border-radius: 0px;">
          <app-monitor-display [typeMon] = "'Vital Status'"></app-monitor-display>
        </div>
        <div style="width: 100%; margin-bottom:2.5%; height:47.5%;  padding:0%; border-radius: 0px;">
            <app-monitor-display [typeMon] = "'Location'"></app-monitor-display>
          </div>

</div>

<button type="button" class="btn btn-primary mybtn" style="   margin: 1% 2.5% 2% 2.5%; " (click)="navigateToPatient()">View patient information</button>

