<div style="margin:0%; padding:0%; width:100%; height:88vh;">
    <div class="myheader">
        <h3>
            Patient Information for {{name}} {{surname}}
        </h3>
    </div>
    <div style="display: flex; flex-direction: row;  height:100%;
    width: 100%; ">
        <div class="col-3 filterBar">
            <div style="display: flex; justify-content:center; align-items:center; height: 15vh; ">
                <button type="button" class="btn btn-primary my-style " style="    font-size: 1.2vw; padding: 0%; text-align: center;" (click)='addRoutine()'>Add Event</button>
            </div>
            <div class="sidebar-header">
                <h4 class="sidebar-text">Filters</h4>
             </div>
             <div style="padding: 5%;">
                <div>
                   
                    <form  #f ="ngForm">
                        <h4>Time:</h4>
                        <div style="padding: 5% 10% 5% 10%;">
                            <div class="timeBox">
                                <h5 style="width:40%; margin-bottom: 0%;" >From:</h5>
                                <input 
                                    type="time" 
                                    id = "fromTime"
                                    class="timeInput form-control " 
                                    value="10:00"
                                    ngModel 
                                    name="fromTime">
                            </div>
                            <div class="timeBox">
                                <h5 style="width:40%; margin-bottom: 0%;">To:</h5>
                                <input 
                                    type="time" 
                                    id = "toTime"
                                    class="timeInput form-control " 
                                    value="10:00"
                                    ngModel 
                                    name="toTime">
                            </div>
                      
                        </div>
    
                      
                        <h4>Type:</h4>
                        <div style="padding: 5% 10% 5% 10%;">
                            <div class="form-check" style="padding: 0%;">
                                <label class="form-check-label" for="exampleRadios1"  id = " Radios1" style="width: 95%; margin-left:5%;  font-weight: 500;" >
                                    Entertainment
                                  </label>
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Entertainment" checked ngModel>
                               
                              </div>
                              <div class="form-check" style="padding: 0%;">
                                <label class="form-check-label" for="exampleRadios2" id = " Radios1"  style="width: 95%; margin-left:5%;  font-weight: 500;" >
                                    Medical
                                  </label>
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Medical" ngModel>
                               
                              </div>
                              <div class="form-check" style="padding: 0%;">
                                <label class="form-check-label" for="exampleRadios3" id = " Radios3" style="width: 95%; margin-left:5%; font-weight: 500;" >
                                    Relaxation
                                </label>
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Relaxation" ngModel>
                                
                              </div>
                        </div>
                        <div style="display: flex; justify-content: space-evenly">
                            <button class="btn btn-primary my-style "  style="width: 45%;" (click)="resetFilters(f)" >Reset filters</button>
                            <button class="btn btn-primary my-style "  style="width: 45%;" (click)="onSubmit(f)" >Apply Filters</button>    
                        </div>
                        
                       
                    </form>
        
                </div>
                    
                
             </div>    
    
        </div>
        <div class="col-9" style="width:100%; height:88vh; margin: 0%;padding: 0%; max-height: 88vh; overflow-y: auto;">
            <div class="routineContent" *ngIf="routineEvents.length!=0">
    
                <app-event-box 
                *ngFor ="let routine of routineEvents"
                [self] = 'routine'
                ></app-event-box> 
                
    
    
            </div>
        </div>
    </div>
    <app-routine-add *ngIf="modal" [user] = 'currUser' [routineEdit] = 'dataEdit'></app-routine-add>


</div>
