.my-navbar-main{
    background-color: #5356B6;
    overflow:hidden;
}
.my-nav-container{
    padding-right:20px;
    align-items: center;
    
}

.nav-text{
    text-align:right;
    color:white;
    margin:0;
    font-size:1.5vw;
}

.navIcon{
    padding-left:  0.5vw;
    font-size:2vw;
    text-align: center;
    vertical-align: middle;
    color:white;

}

