.my-navbar-main{
    background-color: #5356B6;
    overflow:hidden;
}
.my-nav-container{
    padding-right:20px;
    align-items: center;

    
}

.nav-text{
    text-align:right;
    color:white;
    margin:0;
    padding: 0%;
    font-size:2vw;
}

.navIcon{
    padding-left:  1vw;
    font-size:2vw;
    text-align: center;
    vertical-align: middle;
    color:white;

}
.mylink:hover{
    text-decoration: underline;
    font-weight: 500;
}

.alertcont{
    height: 10%; 
    width:100%
}

.alertmsg{

    position:fixed; 
    margin-bottom: 10%; 
    top:8%;   
    z-index:100;
}