<!-- in the navbar we use ngif to hide and display some conent based on the url-->
<nav class="navbar  my-navbar-main" style="height:5vh">

  <div class="col-12 d-flex flex-row-reverse my-nav-container" *ngIf = "this.route.includes(this.subroute)">   
    <i class="fas fa-user navIcon"></i>
    <p class="navbar-text  nav-text " >
      Hello Giannis 
    </p>
  </div>
  
  <div class="col-12 d-flex flex-row-reverse my-nav-container" *ngIf = "!this.route.includes(this.subroute)">   
    <i class="fas fa-user navIcon"></i>
    <p class="navbar-text  nav-text mylink" (click) ="navigateHome()">
      Home
    </p>

  </div>
</nav>
<div class="row" style="margin: 0%; padding:0%;" >
  <div class="col-lg-3 col-xl-2 col-md-3  d-none	d-sm-none d-md-block" style=" padding:0%;">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-9  col-xl-10 col-md-9  d-none	d-sm-none d-md-block" style=" padding:0% ; margin: 0%;  height: 95vh;  overflow-y: auto; ">
    <div  class = "alertcont" *ngIf="alert"   [ngStyle]="{background: alertDecoration }" >
      <div class ="alertcont alertmsg">
        <div class="msgContainer" (click) = "navigateToUser(alertPatientName)">
          <h5 style ="margin-bottom: 0%;">{{alertMessage}}</h5>
        </div>
      </div>
    </div>
    
    <router-outlet></router-outlet>
  </div>
</div>
  