<div class="medCont" [ngStyle]="{'opacity': self.completed === true? 0.7 : 1.0}" >
    <div class="componentHeader" >
        <div style="display:flex; width: 90%;">
            <h5 class="componentHeaderTitle">{{self.title}} </h5>
        </div>
        <div style=" width: 10%; ">
            <div class="form-check" style="height: 100%; width:100%; display:flex; justify-content: flex-end;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="height:3vh; width:3vh; margin:0;"  [checked]="self.completed" (click)="changeCompleted()">
      
              </div>
        </div>
       
    </div>
    <div class="contentRoutine">
        <h6 style="margin-bottom:0%" > {{ self.description}}</h6>

        
    </div>
</div>

