<div class="myModal">
    <div class="header">
        <h3 style="margin-bottom: 0%;">{{title}}</h3>
        <button id = "closeBtn"type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="content">
        <h5> {{desc}}  {{ timeSent | date: 'shortTime'}}</h5>
    </div>
    <div class="buttonArea">
        <button class="btn btn-primary my-style" style="margin-right:5%;" *ngIf="type === 1" >Call back</button>
        <button class="btn btn-primary my-style" style="margin-right:5%;" *ngIf="type === 2" >Call Back</button>
        <button class="btn btn-primary my-style" (click)="close()" style="margin-left:5%;">Close</button>

    </div>
</div>
