<div class="myModal">
    <div class="header">
        <div class="col-1"></div>
        
        <div class="col-10" style="display: flex; justify-content: center; align-items: center;">
            <h3 style="margin-bottom: 0%;">{{title}}</h3>
        </div>

        <div class="col-1" style=" display: flex; justify-content: center; align-items: center; padding: 0%;">
            <button class="myCloseBtn" (click)="close()"> <i class="fa fa-window-close fa-2x" style="color: red;" aria-hidden="true"></i></button>
        
        </div>
      
    </div>
    <div class="content" >
        <h5> {{desc}}  {{ timeSent | date: 'shortTime'}}</h5>
    </div>
    <div class="buttonArea">
        <button class="btn btn-primary my-style" style="margin-right:5%;" *ngIf="type === 1" >Call back</button>
        <button class="btn btn-primary my-style" style="margin-right:5%;" *ngIf="type === 2" >Call Back</button>
        <button class="btn btn-primary my-style" (click)="close()" style="margin-left:5%;">Close</button>

    </div>
</div>
