<div style="display: flex; height: 30vh; width:90%; margin:2vh 5% 2vh 5% ; border-radius: 10px; border: 2px solid black; ">
    <div style=" width: 90%; height:100%; padding: 1%; border-radius: 10px">
        <div class="myRow" style="height: 20%;">
            <div class="col-6 subRow"  >
                <p style="font-weight: 700;">Title:</p>
                <p style="margin-left: 20px;">{{self.title}}</p>
             
            </div>
            <div class="col-6 subRow">
                <p style="font-weight: 700;">Time:</p>
                <p style="margin-left: 20px;">{{self.startTime |  date: 'shortTime'}}</p>
                <p style="margin-left: 20px;"> to </p>
                <p style="margin-left: 20px;" *ngIf="self.endTime !== self.startTime else noTime"> {{self.endTime |  date: 'shortTime'}} </p>
                <ng-template #noTime>  <p style="margin-left: 20px;"> - </p></ng-template>
        
            </div>
        </div>
        <div class="myRow " style="height: 20%;">
            <div class="col-6 subRow" >
                <p style="font-weight: 700;">Type:</p>
                <p style="margin-left: 20px;"> {{self.type}} </p>

      
            </div>
            <div class="col-6 subRow" >
                <p style="font-weight: 700;" >Requires caretaker:</p>
                <div class="form-check" style="height: 100%; margin-left: 20px;display:flex; justify-content: flex-end; align-items: center">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="height:3vh; width:3vh; margin:0; padding:0%" [checked]="self.completed" disabled>
                  </div>
     
            </div>
        </div>
        <div class="myRow" style="height: 60%;">
            <div class="col-12" style="background-color: white;">
                <p style="font-weight: 700;">Description:</p>

                <p>{{self.description}}</p>
            </div>
        </div>
    </div>
    <div style="background-color: #EEDFF2; width: 10%; height:100%;  border-radius: 0px 10px 10px 0px;">
        <button class="btn btn-primary my-style " style="   border-radius: 0px 10px 0px 0px;" (click)="addRoutineEdit()" ><i class="fas fa-edit" style="font-size: 2vw;"></i></button>
        <button class="btn btn-primary my-style " style="   border-radius: 0px 0px 10px 0px;"(click)='deleteRoutine()'><i class="fa fa-trash" aria-hidden="true"  style="font-size: 2vw;"></i></button>
    
    </div>

</div>