<div style = "display:flex;flex-direction: row;">
    <div class="col-6" style = "display:flex;flex-direction: column;">
        <h1>Caretaker controlls</h1>
        <div style="display:flex">
            <button class="btn btn-primary" (click)="createAlertYellow()" style="width:50%">Yellow Allert</button>
        </div>
        <div style="display:flex">
            <button class="btn btn-primary" (click)="createAlertOrange()" style="width:50%">Orange Allert</button>
        </div>
        <div style="display:flex">
            <button class="btn btn-primary" (click)="changeVitalsDanger()" style="width:50%">Red Allert/Vitals Danger</button>
        </div>
    
        <div style="display:flex">
            <button class="btn btn-primary" (click)="changeVitalsNormal()" style="width:50%">Vitals Normal</button>
        </div>
    
        <div style="display:flex">
            <button class="btn btn-primary" (click)="changeBedroom()" style="width:50%">Bedroom</button>
        </div>
        <div style="display:flex">
            <button class="btn btn-primary" (click)="changeLivingRoom()" style="width:50%">Living Room</button>
        </div>
        <div style="display:flex">
            <button class="btn btn-primary" (click)="changeKitchen()" style="width:50%">Kitchen</button>
        </div>
    
      
        
    </div>
    <div class="col-6">



        <form #f = 'ngForm'>
            <div  style = "display:flex; flex-direction: column;">
                <input type="text"
                id="chat"
                name="chat"
                ngModel
                >
                <button class="btn btn-primary" (click)="chat(f)">Test</button>
        </div>
        </form>   
        <div>
            <button class="btn btn-primary" (click)="openWall()">Open wall</button>
            <button class="btn btn-primary" (click)="closeWall()">Close wall</button>
    
        </div>
        <div>
            <button class="btn btn-primary" (click)="openTV()">Open TV</button>
            <button class="btn btn-primary" (click)="openTV2()">Confirm trip to the mall</button>
            <button class="btn btn-primary" (click)="closeTV()">Close TV</button>
    
        </div>
    </div>

</div>

