<div class="col-6" style = "display:flex;flex-direction: column;">
    <h1>Caretaker controlls</h1>
    <div style="display:flex">
        <button class="btn btn-primary" (click)="createAlertYellow()" style="width:50%">Yellow Allert</button>
    </div>
    <div style="display:flex">
        <button class="btn btn-primary" (click)="createAlertOrange()" style="width:50%">Orange Allert</button>
    </div>
    <div style="display:flex">
        <button class="btn btn-primary" (click)="createAlertRed()" style="width:50%">Red Allert</button>
    </div>

    <div style="display:flex">
        <button class="btn btn-primary" (click)="changeBedroom()" style="width:50%">Bedroom</button>
    </div>
    <div style="display:flex">
        <button class="btn btn-primary" (click)="changeLivingRoom()" style="width:50%">Living Room</button>
    </div>
    <div style="display:flex">
        <button class="btn btn-primary" (click)="changeKitchen()" style="width:50%">Kitchen</button>
    </div>
    
</div>
<div class="col-6" style = "display:flex">
</div>
