<div style="height: 92vh; background-color: #DFE0F2;">
    <div class="row col-12 d-flex justify-content-center sidebar-header">
        <h4 class="sidebar-text">Emergency numbers</h4>
     </div>
    
     
     <div class="row d-flex d-none d-xl-block d-xxl-block justify-content-center " style="background-color: #DFE0F2; margin:0%;" >
        <button type="button" class="btn btn-primary my-style " style="    font-size: 1.2vw;">Alert Doctor</button>
        <button type="button" class="btn btn-primary my-style " style="    font-size: 1.2vw;">Call Ambulance</button>

    </div>
    <div class="row d-flex d-none d-lg-block d-xl-none justify-content-center " style="background-color: #DFE0F2; margin:0%;" >
        <button type="button" class="btn btn-primary my-style " style="    font-size: 1.6vw;">Alert Doctor</button>
        <button type="button" class="btn btn-primary my-style " style="    font-size: 1.6vw;">Call Ambulance</button>

    </div>
        
    <div class="row   d-flex d-lg-none d-xl-none justify-content-center" style="background-color: #DFE0F2; margin:0% !important;" >
        <button type="button" class="btn btn-primary my-style " style="    font-size: 2vw;">Alert Doctor</button>
        <button type="button" class="btn btn-primary my-style " style="    font-size: 2vw;">Call Ambulance</button>

    </div>

    <div class="row col-12 d-flex justify-content-center sidebar-header">
       <h4 class="sidebar-text">Notifications</h4>
    </div>
    
    <!--Use ng if to dynamicaly display an array of notifications-->
    <div class="col-12">
        <button (click)="addMessage()"> Demo</button>
        <div class="row col-12 d-flex justify-content-center sidebar-content" *ngIf="notifications.length>0" style = "max-height: 60vh; overflow-y:auto; padding:0%; width: 100%;">
            
            <app-notification *ngFor="let notification of notifications; index as i;" 
            [name] = "notification.title" 
            [messageType] = "notification.type"
            [time] = "notification.timestamp"
            class="d-flex justify-content-center col-10" style="padding: 0%;"></app-notification>
          
        </div>
        
    </div>
    
  
    
    <div class="row col-12 d-flex justify-content-center sidebar-content" *ngIf="notifications.length ==0">
    
        <h4 style="text-align: center; padding:1.5vw !important;">No messages.</h4>
    </div>
    
</div>

