<div class="pic-cont container " style="padding: 0% !important; width: 100%; height:4vw;">
    <div class="row zeroSpace"  >
 
  
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 zeroSpace" [ngSwitch]="messageType "   >

        <!--call-->
            <div class="zeroSpace" style=" height: 4vw;"  *ngSwitchCase="1" >
                <div class="dot " >
                    <i class="fa-solid fa-phone d-none d-lg-block d-xl-block" style="font-size: 1.3vw; margin: 0%; padding: 0%;color:white;"></i>
                    <i class="fa-solid fa-phone d-none d-md-block d-lg-none"  style="font-size: 2vw;   margin: 0%; padding: 0%; color:white;"></i>
                    <!--<fa-icon [icon]="faPhone" class="disp-icon " style="    font-size: 1.3vw;   " ></fa-icon>-->
                </div>

            
            </div>
            <!--video-->
            <div class=" zeroSpace"  style=" height: 4vw" *ngSwitchCase="2" >
                <div class="dot   d-none d-lg-block d-xl-block" >
                    <i class="fa-solid fa-video d-none d-lg-block d-xl-block" style="font-size: 1.3vw; margin: 0%; padding: 0%;color:white;"></i>
                    <i class="fa-solid fa-video d-none d-md-block d-lg-none"  style="font-size: 2vw;   margin: 0%; padding: 0%; color:white;"></i>
                    <!-- <fa-icon [icon]="faVideoCamera" class="disp-icon " style="    font-size: 1.3vw;   " ></fa-icon>-->
                </div>


            
            </div>
              <!--message-->
            <div class="zeroSpace "  style=" height: 4vw"  *ngSwitchCase="3" >
                <div class="dot   d-none d-lg-block d-xl-block" >
                    <i class="fa-solid fa-message d-none d-lg-block d-xl-block" style="font-size: 1.3vw; margin: 0%; padding: 0%;color:white;"></i>
                    <i class="fa-solid fa-message d-none d-md-block d-lg-none"  style="font-size: 2vw;   margin: 0%; padding: 0%; color:white;"></i>
                    <!--<fa-icon [icon]="faMessage" class="disp-icon " style="    font-size: 1.3vw;   " ></fa-icon>-->
                </div>

              

            
            </div>
            <div class="zeroSpace "  style=" height: 4vw"  *ngSwitchCase="4" >
                <div class="dot   d-none d-lg-block d-xl-block"  >
                    <i class="fa-solid fa-user d-none d-lg-block d-xl-block" style="font-size: 1.3vw; margin: 0%; padding: 0%;color:white;"></i>
                    <i class="fa-solid fa-user d-none d-md-block d-lg-none"  style="font-size: 2vw;   margin: 0%; padding: 0%; color:white;"></i>
                    <!--<fa-icon [icon]="faMessage" class="disp-icon " style="    font-size: 1.3vw;   " ></fa-icon>-->
                </div>

              

            
            </div>
        <div *ngSwitchDefault></div>
            
        </div>
        <div class="col-7 	d-none d-xl-block d-xxl-block" >
            <div class="row text-cont" >  
                <p class="text-style msg-title" style="font-size: 1.1vw; font-weight: 500;">{{name}}</p>
            </div>
            <div class="row text-cont" >  
                
                <div class="col-7" style="padding-right: 0px;">
                    <p class="text-style msg-cont" style="font-size: 0.9vw;">{{time | date: 'shortTime'}}</p>
                </div>
            </div>

        </div>

        <div class="col-7 d-none d-md-block d-lg-block d-xl-none d-xxl-none" >
            <div class="row text-cont" >  
                <p class="text-style msg-title"  style="font-size: 1.7vw; font-weight: 500;">{{name}}</p>
            </div>
            <div class="row text-cont" >  
                
                <div class="col-7" style="padding-right: 0px;">
                    <p class="text-style msg-cont" style="font-size: 1.3vw;">{{time | date: 'shortTime'}}</p>
                </div>
            </div>

        
        </div>
    </div>
</div>