@media only screen and (max-device-width: 600px) {
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }
    
    /* Top Bar with elder Name */
    .top_bar{
        z-index:1; 
        width:100%;
        height:130px;
        top: 0;
        overflow-y: hidden;
        position: fixed;
        background-color: #5356b6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #Welcome_message{
        position: relative;
        width: 100%;
        height:100px;
        top:40px;
        margin-left:0;
        font-size: 27px;
        background-color: #bcbff5;
        border: 1px solid #5356b6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .title_information_div{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 90%;
    }

    #title_information{
        height: 40px;
        border-radius: 10px;
        background-color: #e8d2ef;
        color:black;
        font-size: 28px;
        text-align:center;
        cursor: pointer;
        outline: none;
        box-shadow: 0 7px #999;
        width:90%;
    }

    .events_list{
        background-color: white;
        border: 2px solid #5356B6;
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        width:90%;
        margin-left:5%;
        margin-right:5%;
        overflow-y: auto;
    }


    #completed_events{
        background-color: #5356B6;
        color:rgb(255, 255, 255);
        text-align: center;
        width:100%;
        height:50px;
        margin-top:-25px;
        font-size:27px;
    }


    .btn-group {
        margin-top:-17px;
        width: 100%;
        content: "";
        clear: both;
        display: table;
    }

    #to_do_btn,#done_btn{
        height:45px;
        width:200px;
        cursor: pointer;
        outline: none;
        box-shadow: 0 7px #999;
        border-radius: 20px;
    }

    #to_do_btn:hover,#done_btn:hover{
        background-color: #5356B6;
        font-weight: bold;
        color: white;
    }

    #to_do_btn{
        height:45px;
        width:50%;
        font-size:27px;
        background-color: #be7dd0;
    }

    #done_btn{
        height:45px;
        width:50%;
        font-size:27px;
        background-color: #d5ade1;
    }


    .event_box{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 100px;
        border: 2px solid #5356B6;
        border-radius: 15px;
        background-color: #DFE0F2;
    }

    .title_of_event{
        height:50px;
        background-color: #5356B6;
        border-radius: 10px;
        color:white;
        font-size: 26px;
    }

    #event_name{
        margin-left:5px;
    }

    #event_time{
        font-size:25px;
        margin-top:5px;
        margin-left:8px;
    }

    #event_checkbox{
        float:right;
        margin-top: 5px;
        margin-right: 10px;
        width:35px;
        height:35px;
    }

    .done_events{
        opacity:70%;
    }


    .expand_detailed_information{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        text-align: center;
        border: 1px solid #5356B6;
        border-radius: 10px;
        width:90%;
    }

    #title_information_in_expand{
        height: 40px;
        border-radius: 10px;
        background-color: #5356B6;
        color:white;
        font-size: 28px;
        text-align:center;
        cursor: pointer;
        outline: none;
        box-shadow: 0 7px #999;
        width:90%;
    }

    #title_information_in_expand:hover{
        background-color: #8215a3;
    }

    .buttons_detailed_information{
        background-color: #e8d2ef;
        border: 1px solid #5356B6;
        border-radius: 10px;
        font-size:28px;
        width:90%;
        height:40px;
        cursor: pointer;
        outline: none;
        box-shadow: 0 7px #999;
    }


    .visit_neighboor_event{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height:400px;
        width:90%;
        text-align: center;
        background-color: #bcbff5;
        border-radius: 10px;
        border:2px solid #5356B6;
        text-align: center;
    }

    .visit_information_btn{
        height:45px;
        width:90%;
        background-color: #5356B6;
        color:white;
        border-radius: 10px;
        font-size:28px;
        cursor: pointer;
        outline: none;
        box-shadow: 0 7px #999;
    }

    #date_label,#from_label,#to_label{
        font-size: 27px;
        font-weight: bold;
    }

    #event_date,#from_time,#to_time{
        width:250px;
        font-size: 26px;
        text-align: center;
    }


    .cancel_event_btn,.save_event_btn{
        width:34%;
        font-size: 27px;
        height:40px;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
        box-shadow: 0 7px #999;
        font-weight: bold;
    }

    .cancel_event_btn{
        background-color: #e13a3a;
    }

    .save_event_btn{
        background-color: rgb(49, 152, 49);
    }

    .btn-group {
        margin-top:-17px;
        width: 100%;
        content: "";
        clear: both;
        display: table;
    }

    #text_activty_suggestions{
        font-size: 27px;
        text-align: center;
        line-height: 2rem;
    }


    /* New messages css */

    .messages_top_bar{
        top: 0;
        overflow-y: hidden;
        position: fixed;
        height: 90px;
        width:100%;
        background-color: #5356b6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 27px;
        color:white;
    }

    #exit_from_messages{
        background-color: white;
        color:black;
        float: left;
        width:40px;
        height:40px;
        border: 1px solid black;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        box-shadow: 0 4px #999;
    }


    .Messages_list{
        position: absolute;
        top:90px;
        height:770px;
        background-color: rgb(255, 255, 255);
    }

    .New_Message{
        float:right;
        background-color: rgb(213, 173, 225);
        height:auto;
        width:80%;
        margin-right:10px;
        border-radius: 5px;
    }

    #message_time{
        margin-left:2%;
        font-size: 22px;
        font-weight: bold;
    }

    #message_content{
        margin-left:2%;
        margin-right: 2%;
        text-align: center;
        font-size: 26px;
        text-align: left;
    }


    #write_message{
        display: inline-block;
        font-size: 26px;
        width:75%;
        position: absolute;
        bottom: 30px;
        height:40px;
        left:0;
        border:1px solid black;
    }


    #send_message_btn{
        display: inline-block;
        position: absolute;
        bottom: 37px;
        font-size: 26px;
        width:25%;
        height:33px;
        right:0;
        background-color: #5356B6;
        color:white;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        box-shadow: 0 7px #999;
    }

    #orange_alert{
        position: absolute;
        top:40px;
        width:100%;
        text-align: center;
        font-size: 27px;
        background-color: #F87248;
        height:auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-weight: bold;
    }

    #green_alert{
        position: absolute;
        top:40px;
        width:100%;
        text-align: center;
        font-size: 27px;
        background-color: #A8F55A;
        height:auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-weight: bold;
    }

    #yellow_alert{
        position: absolute;
        top:40px;
        width:100%;
        text-align: center;
        font-size: 27px;
        background-color: #F8FB64;
        height:auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-weight: bold;
    }


	.navbar{
        width:100%;
        bottom: 0;
        overflow-y: hidden;
        position: fixed;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-around;


    }

    #navbar-menu{
        height:50px;
        background-color: #ffffff;
        width:100%;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-around;
        border: 2px solid #5356B6;
    }

    .notifactions_top_bar{
        top: 0;
        overflow-y: hidden;
        position: fixed;
        height: 70px;
        width:100%;
        background-color: #5356b6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 20px;
        color:white;
    }

    #exit_from_notifications{
        background-color: white;
        color:black;
        float: left;
        width:33px;
        height:33px;
        border: 1px solid black;
        border-radius: 50px;
    }

    .notifications_list{
        position: absolute;
        top:100px;
        background-color: white;
    }

    #elder_picture{
        width:45px;
        height:45px;
        border-radius: 50px;
        display: inline;
    }
 

    .message_icon{
        height:35px;
        width:35px;
        background-color: white;
    }


    .notification_icon{
        background-color: white;
        height:35px;
        width:35px;
        display: inline;
    }

    .video-icon{
        background-color: white;
        height:40px;
        width:40px;
    }

}
