<div class="top_bar text-center">
    <p id="Welcome_message">Hello Kostas<br>Everything is good!</p>
</div><br><br><br><br><br><br>

<!-- Alerts in Main Screen -->

<div id="container alerts" style="display:none;">
    <p id="orange_alert">Reminder:<br>Check blood pressure<br>Caretaker is on his way!</p>
</div><br>


<div id="container alerts" style="display:none;">
    <p id="green_alert">Reminder:<br>Evening nap</p>
</div>

<div id="container alerts" style="display:none;">
    <p id="yellow_alert">Reminder:<br>Walk in the park</p>
</div>




<!-- Detailed Information Menu Button -->

<div class="container title_information_div">
<button id="title_information">Activity Suggestions</button>
</div><br>



<!-- Menu Buttons List Div -->

<div class="container expand_detailed_information" style="display:none;">
    <button id="title_information_in_expand">Activity Suggestions</button><br><br>
    <button class="buttons_detailed_information">Visit Neighboor</button><br><br>
    <button class="buttons_detailed_information">Go for a Walk</button><br><br>
    <button class="buttons_detailed_information">Other Activity</button><br><br>
    <button class="buttons_detailed_information">Back</button><br><br>
</div>


<!-- Visit neighboor suggestion div -->

<div class="container visit_neighboor_event" style="display:none;">
    <button class="container visit_information_btn text-center">Visit Neighboor</button><br><br>
    <label id="date_label">Date</label><br>
    <input type="date" id="event_date" name="event_date"value="2022-11-29" min="2022-11-20" max="2023-01-31"><br>
    <label id="from_label">From</label><br>
    <select id="from_time" name="event_time">
        <option value="1_option">10:00 AM</option>
        <option value="2_option">11:30 AM</option>
        <option value="3_option">14:00 PM</option>
        <option value="4_option">15:00 PM</option>
        <option value="5_option">16:00 PM</option>
        <option value="6_option">17:00 PM</option>
      </select><br>
    <label id="to_label">To</label><br>
    <select id="to_time" name="event_time">
        <option value="1_option">10:00 AM</option>
        <option value="2_option">11:30 AM</option>
        <option value="3_option">14:00 PM</option>
        <option value="4_option">15:00 PM</option>
        <option value="5_option">16:00 PM</option>
        <option value="6_option">17:00 PM</option>
    </select><br><br><br>
    <div class="btn-group action_event_buttons">
      <button class="cancel_event_btn">Cancel</button>&nbsp;&nbsp;&nbsp;
      <button class="save_event_btn">Save</button>
    </div>
</div>

<!-- Go for a walk suggestion div -->

<div class="container visit_neighboor_event" style="display:none;">
    <button class="container visit_information_btn text-center">Go for a Walk</button><br><br>
    <label id="date_label">Date</label><br>
    <input type="date" id="event_date" name="event_date"value="2022-11-29" min="2022-11-20" max="2023-01-31"><br>
    <label id="from_label">From</label><br>
    <select id="from_time" name="event_time">
        <option value="1_option">10:00 AM</option>
        <option value="2_option">11:30 AM</option>
        <option value="3_option">14:00 PM</option>
        <option value="4_option">15:00 PM</option>
        <option value="5_option">16:00 PM</option>
        <option value="6_option">17:00 PM</option>
      </select><br>
    <label id="to_label">To</label><br>
    <select id="to_time" name="event_time">
        <option value="1_option">10:00 AM</option>
        <option value="2_option">11:30 AM</option>
        <option value="3_option">14:00 PM</option>
        <option value="4_option">15:00 PM</option>
        <option value="5_option">16:00 PM</option>
        <option value="6_option">17:00 PM</option>
    </select><br><br><br>
    <div class="btn-group action_event_buttons">
      <button class="cancel_event_btn">Cancel</button>&nbsp;&nbsp;&nbsp;
      <button class="save_event_btn">Save</button>
    </div>
</div>

<!--  Expand menu for other activity-->

<div class="container expand_detailed_information" style="display:none;">
    <button id="title_information_in_expand">Other Activity</button><br><br>
    <label id="text_activty_suggestions">Discuss this with your caretaker</label><br><br>
    <button class="buttons_detailed_information">Call</button><br><br>
    <button class="buttons_detailed_information">Video Chat</button><br><br>
    <button class="buttons_detailed_information">Back</button><br><br>
</div>


<!-- List of Routine Events -->

<br>
<div class="container events_list"><br>
    <p id="completed_events"> Daily Routine  : 3/8</p>
    <br>
    <div class="btn-group events_buttons">
        <button id="to_do_btn">TO DO</button>
        <button id="done_btn">DONE</button>
    </div>
    <br>

    <!-- To do Events Div -->

    <div class="to_do">
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Blood pressure check</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">7:00 AM - 8:00 AM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Take Insuline Shot</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">9:00 AM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Eat Breakfast</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">9:15 AM - 9:45 AM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Check Blood Pressure</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">10:00 AM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Watch TV</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">10:00 AM - 12:00 AM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Call Children</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">12:30 AM 1:15 PM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Rest Sleep</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">13:30 PM - 15:30 PM</p>
        </div><br>
    </div>

    <!-- Done Events Div -->

    <div class="container done_events" style="display:none;">
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Blood pressure check</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">7:00 AM - 8:00 AM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Take Insuline Shot</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">9:00 AM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Eat Breakfast</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">9:15 AM - 9:45 AM</p>
        </div>

        <br>
        <div class="container event_box">
            <div class="container title_of_event">
                <label id="event_name">Check Blood Pressure</label>
            </div>
            <input id="event_checkbox" type="checkbox">
            <p id="event_time">10:00 AM</p>
        </div>
    </div>
</div>
<br><br><br>



<!--  Messages Screen -->

<div class="container messages_top_bar" style="display:none;">
    <br>
    <button id="exit_from_messages">X</button>
    <p id="messages_p">Messages</p>
</div>

<div class="container Messages_list" style="display:none;"><br><br>
    <div class="New_Message">
        <p id="message_content">I would like to go for a walk</p>
        <p id="message_time">  9:18 AM</p>
    </div>
    <div class="input_text_area" style=>
        <input type="text" class="form-control" id="write_message" placeholder="Write here...">
        <button id="send_message_btn">Send</button>
    </div>
</div>


<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"  id="navbar-menu">
      <a class="navbar-brand" id="Messages_page" href="#">💬</a>
      <a class="navbar-brand" id="Notifications_page" href="#">🔔</a>
      <a class="navbar-brand" id="Video_Call_page" href="#">🎥</a>
    </div>
</nav>
        
        